@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.Header-Portfolio {
    background-image: url('/Header_Portofolio.webp');
    background-color: orange;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 28pt;
    font-weight: 700;
    color: black;
    padding: 4px 0px 4px 15px;
}

.Situation {
    font-family: "EB Garamond", serif;
    img:hover {
        box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5)
    }
}

.Task{
    font-family: "EB Garamond", serif;
    img:hover {
        box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5)
    }
}

.Situation{
    font-family: "EB Garamond", serif;
    img:hover {
        box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5)
    }
}

.Action{
    font-family: "EB Garamond", serif;
    img:hover {
        box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5)
    }
}

.Result{
    font-family: "EB Garamond", serif;
    img:hover {
        box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5)
    }
}