.flex {
    position: relative;
}

.Box-Skill1 {
    p {font-family: Georgia, 'Times New Roman', Times, serif;}
}

.Box-Skill2 {
    padding-top: 2px;
    padding-left: 7px;
    p {font-family: Georgia, 'Times New Roman', Times, serif;}
}

.Box-Skill3 {
    padding-top: 2px;
    padding-left: 7px;
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.Box-Skill4 {
    margin-right: 10px;
    padding-top: 2px;
    padding-left: 7px;
    p {font-family: Georgia, 'Times New Roman', Times, serif;}
}

.Box-Skill5 {
    margin-right: 10px;
    padding-top: 2px;
    padding-left: 7px;

    p {font-family: Georgia, 'Times New Roman', Times, serif;}
}